.wrap{
    margin-top: 10%;
}

#logo-home{
	display: inline;
}

.nav-home{
	display: inline;
}

/*Login and Register Page*/
.header{
	text-align: center;
}

.login-element{
	text-align: center;
}

.register{
	margin-top: 50px;
}